@font-face {
    font-family: orangeJuice;
    src: url("../font/orange_juice_2.0.ttf");
}

@font-face {
    font-family: corneria;
    src: url("../font/ConeriaScript.ttf");
}

@font-face {
    font-family: lora;
    src: url("../font/Lora-Regular.otf");
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --firstStoryColour: #F5C4C5; /*#FFB3BA*/
    --secondStoryColour: #C9FFDF; /*#BAFFC9*/
    --thirdStoryColour: #FFFEC5; /*#FFFFBA*/
}

#title-container {
    position: relative;
    z-index: -2;
    height: 250vh;
    width: 100%;
    background: #BAE1FF;
    background: -moz-linear-gradient(top, #ffffff 0%, #BAE1FF 95%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#BAE1FF 95%);
    background: linear-gradient(to bottom, #ffffff 0%,#BAE1FF 95%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#BAE1FF',GradientType=0 );

}

.arrow-down {
    width: 100%;
    height:100vh;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    z-index:100;
}

.arrow-down i {
    width: auto;
    height: auto;
    position: relative;
    top: 90%;
    font-size: 4rem;
    color: rgba(100, 149, 237, 0.33);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
    transition: font-size 300ms;
}

.arrow-down i:hover {
    font-size: 5rem;
}

@-webkit-keyframes arrow {
    0%, 100% {
        margin-top: -25px;
    }
    50% {
        margin-top: 0;
    }
}

@keyframes arrow {
    0%, 100% {
        margin-top: -25px;
    }
    50% {
        margin-top: 0;
    }
}

#title-sticky {
    margin: 0 auto;
    text-align: center;
    transform: translateY(-50%);
    width: 100%;
    position: sticky;
    top: 50vh;
}

#piszke {
    text-align: center;
    letter-spacing: 0.5vw;
    font-size: 20vw;
    margin: 0;
    font-family: orangeJuice;
}

#piszke-down {
    text-align: center;
    font-size: 5vw;
    margin: 0;
    font-family: corneria;
}

.parallax {

    background-repeat: no-repeat;
    width: 100%;
    height: 250vh;
    position: fixed;
    z-index: 0;
}

/*parallax sizes, and positions*/
:root {
    --sunPos: 75vw 25vh;
    --sunSize: 25vw;

    --cloud1: 10vw 65vh;
    --cloud2: 30vw 20vh;
    --cloud3: 65vw 40vh;
    --cloud4: 60vw 76vh;
    --cloud5:  70vw 100vh;
    --cloudSize: 25vw;
}

.sun {
    background-image: url(../img/sun.png);
    background-position: var(--sunPos);
    background-size: var(--sunSize);
}

.cloud1 {
    background-image: url("../img/cloud.png");
    background-position: var(--cloud1);
    background-size: var(--cloudSize);
}

.cloud2 {
    background-image: url("../img/cloud.png");
    background-position: var(--cloud2);
    background-size: calc(var(--cloudSize)*0.8);
}

.cloud3 {
     background-image: url("../img/cloud.png");
     background-position: var(--cloud3);
     background-size: calc(var(--cloudSize)*1.25);
 }

.cloud4 {
    background-image: url("../img/cloud.png");
    background-position: var(--cloud4);
    background-size: calc(var(--cloudSize)*1.3);
}

.cloud5 {
    background-image: url("../img/cloud.png");
    background-position: var(--cloud5);
    background-size: calc(var(--cloudSize)*0.8);
}

.story-container {
    width: 100%;
}

.story:nth-child(1) {
    background-color: var(--firstStoryColour);


    background-image: url("../img/blue_to_red.png"), url("../img/red_to_green.png");
    background-position: top center, bottom center;

    background-repeat: no-repeat;
}

.story:nth-child(2) {
    background-color: var(--secondStoryColour);

    background-image: url("../img/green_to_yellow.png");
    background-position: bottom center;

    background-repeat: no-repeat;
}

.story:nth-child(3) {
    background-color: var(--thirdStoryColour);

    background-image: url("../img/yellow_to_black.png");
    background-position: bottom center;

    background-repeat: no-repeat;
}

.story {
    width: 100%;
    min-height: 200px;
    padding: 8vh 0 15vh;
}

.story-title h1 {
    font-family: orangeJuice;
    margin: 0;
    font-size: 11vw;
    display: inline-block;
    padding-bottom: 10vh;
    text-shadow: -5px 8px 7px rgba(0, 0, 0, 0.2);
}

.story-title-1 {
    padding-right: 5vw;
    text-align: right;
}

.story-title-2 {
    padding-left: 5vw;
}

.story-title-3 {
    text-align: center;
}


.story-text-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3vw;
}

#story-1-text {
    width: 34em;
    margin: 5vh auto;
}

.story-text {
    width: 35%;
    display: inline-block;
    margin: 5vh 5vw;
    padding: 10px 0px 0px 10px;
    text-align: justify;
    font-size: 1.2em;
    hyphens: manual;
}

.story-text h3 {
    margin: 0 0 10px 0;
    text-align: center;
}

.story-text--border {
    border-width: 5px 0px 0px 5px;
    border-style: dotted;
    border-color: rgba(0, 0, 0, 0.2);
}

.story-text p {
    margin: 0;
}

.polaroid-image a {
    background: white;
    display: inline;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    float: left;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index: 0;
    position: relative;
}

.polaroid-image a:after {
    color: #333;
    font-size: 18px;
    content: attr(title);
    position: relative;
    top: 15px;
    font-family: corneria;
    font-weight: 600;
}

.polaroid-image img {
    display: block;
    width: inherit;
}

.polaroid-image:nth-child(2n) a {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}

.polaroid-image:nth-child(3n) a {
    -webkit-transform: rotate(-24deg);
    -moz-transform: rotate(-24deg);
    transform: rotate(-24deg);
}

.polaroid-image:nth-child(4n) a {
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    transform: rotate(14deg);
}

.polaroid-image:nth-child(5n) a {
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    transform: rotate(-18deg);
}

.polaroid-image:nth-child(6n) a {
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.polaroid-image a:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.footer {
    background-color: black;
    color: white;
    padding: 70px 0px;
    min-height: 200px;
    width: 100%;
}

.footer-container {
    margin: 0 auto;
}

.footer-col {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.footer-white {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-white-heading {
    font-size: 50px;
    margin: 0px;
}

.footer-col p {
    margin: 0.5vh;
}

.footer-row {
    margin: 0 5%;
}

.footer-social {
    text-align: center;
    padding: 10px 0;
}

.footer-impresszum p, .footer-impresszum a {
    font-size: 14px;
    color: gray;
}

.schdesign_wrapper {
    width: 100%;
    position: relative;
    height: 9rem;
}

.schdesign_wrapper #schdesign {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    max-width: 250px;
    transform: translateX(-50%);
}

/*
MOBILE VIEW
*/

@media only screen and (max-width: 880px) {
    .story-title, .story-title-1, .story-title-2, .story-title-3 {
        padding: 0;
        text-align: center;
    }

    .story-text-container {
        display: block;
        margin: 0 5%;
    }

    .story-text {
        width: 90%;
    }

    #story-1-text {
        width: 90%;
    }


    .polaroid-image a img {
        width: 500px !important;
        overflow: hidden;
        height: auto !important;
    }

    .polaroid-image:nth-child(2n) a {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    .polaroid-image:nth-child(3n) a {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    .polaroid-image:nth-child(4n) a {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);

    }

    .polaroid-image:nth-child(5n) a {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    .polaroid-image:nth-child(6n) a {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
    }

    .polaroid-image:nth-of-type(even) a{
        float:left;
    }

    .polaroid-image:nth-of-type(odd) a{
        float:right;
    }

    .polaroid-image a:hover {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        z-index: initial;
    }
}

@media only screen and (max-width: 660px) {
    .polaroid-image a img {
        width: 300px !important;
        overflow: hidden;
        height: auto !important;
    }
}

@media only screen and (max-width: 400px) {
    .polaroid-image a img {
        width: 200px !important;
        overflow: hidden;
        height: auto !important;
    }
}

@media only screen and (min-width: 1920px) {
    .story {
        background-size: 100%;
    }
}